
    <div class="card card-body bg-primary text-white py-5">
      <h2>Welcome To My Page</h2>
      <p class="d-inline align-middle">Country: israel <img width="16" height="14" src="../../../assets/img/israel-flag-icon.png"></p> 
      <p>City: Holon</p>
      <li class="lead">I am very dedicated , a team player,  motivated, full of enthusiasm, hard worker .</li>
    </div>

    <div class="card card-body py-5">
      <h3>My Knowledge</h3>
      <li><b>Programing language</b>: Java, Type Script, C++.</li>
      <p>My Knowledge of the tools and frameworks:</p>
      <hr>
      <h4>Spring Boot</h4>
      <div class="progress mb-3">
        <div class="progress-bar bg-success" style="width:95%"></div>
      </div>
      <h4>Angular 2+</h4>
      <div class="progress mb-3">
        <div class="progress-bar bg-success" style="width:95%"></div>
      </div>
      <h4>Nodejs</h4>
      <div class="progress mb-3">
        <div class="progress-bar bg-success" style="width:95%"></div>
      </div>
      <h4>Eclipse & visual studio code</h4>
      <div class="progress mb-3">
        <div class="progress-bar bg-success" style="width:80%"></div>
      </div>
      <h4>Sql & Nosql DB</h4>
      <div class="progress mb-3">
        <div class="progress-bar bg-success" style="width:75%"></div>
      </div>
      <h4>Git</h4>
      <div class="progress mb-3">
        <div class="progress-bar bg-success" style="width:70%"></div>
      </div>
      <h4>And Much More...</h4>
    </div>

