<div class="container">
  <header id="main-header">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-5">
        <img src="../assets/img/matanmigdal.jpg">
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="d-flex flex-column">
          <div class="p-5 bg-dark text-white">
            <div class="d-flex flex-row justify-content-between align-items-center">
              <h1>Matan Migdal</h1>
              <div class="d-none d-md-block ">
                <a href="https://www.linkedin.com/in/matan-migdal-44043311a/" class="text-white">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>

              <div>
                <a href="https://www.facebook.com/matan.migdal" class="text-white">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>

              <div class="d-none d-lg-block">
                <a href="https://github.com/matan45" class="text-white">
                  <i class="fab fa-github"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="p-4 bg-black">
            Junior Full Stack Web Developer
          </div>

          <div>
            <div class="d-flex flex-row text-white align-items-stretch text-center">
              <div class="port-item p-4 bg-primary" routerLink="/about-me" routerLinkActive="active-link">
                <i class="fas fa-home fa-2x d-block"></i>
                <p>About Me</p>
              </div>
              <div class="port-item p-4 bg-success" routerLink="/resume" routerLinkActive="active-link" >
                <i class="fas fa-graduation-cap fa-2x d-block"></i>
                <p>Resume</p>
              </div>
              <div class="port-item p-4 bg-warning" routerLink="/my-projects" routerLinkActive="active-link">
                <i class="fas fa-folder-open fa-2x d-block"></i>
                <p>My Projects</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <router-outlet></router-outlet>
  


   <!-- FOOTER -->
   <footer id="main-footer" class="p-5 bg-dark text-white">
    <h4 class="text-white">Contact Me:</h4>
    <div class="row">
      <div class="col-md-6">
        <p class="text-white">
          <i class="fas fa-envelope"></i> migdalmatan@gmail.com
        </p>
      </div>
    </div>
  </footer>
</div>
