<div class="card card-body bg-warning text-white py-5">
  <h2>My Work</h2>
  <p class="lead">My own Projects that i work on</p>
</div>

<div class="card card-body py-5">
  <h3>What Have I Built?</h3>
  <p>Fullstack web app.</p>

  <div class="row">
    <div class="col">
      <div class="card ">
        <img class="card-img-top" src="../../../assets/img/Weather.png" alt="Weather">
        <div class="card-body">
          <h4 class="card-title"><a href="https://matan-weatherapp.herokuapp.com/" class="colorHerf">weather App</a></h4>
          <p class="card-text">This is a Weather app plos show corena viurs spread in the word.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card ">
        <img class="card-img-top" src="../../../assets/img/blog.png" alt="Blog">
        <div class="card-body">
          <h4 class="card-title"><a href="https://matan-weatherapp.herokuapp.com/" class="colorHerf">blog App</a></h4>
          <p class="card-text">This is a blog app</p>
        </div>
      </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

</div>